:root {
  --clr-red: hsl(0, 100%, 68%);
  --clr-dark-blue: hsl(230, 29%, 20%);
  --clr-dark-grayish-blue: hsl(230, 11%, 40%);
  --clr-grayish-blue: hsl(231, 7%, 65%);
  --clr-light-grayish-blue: hsl(207, 33%, 95%);
  --clr-white: #ffffff;

  --ff-heading: "Barlow Condensed", sans-serif;
  --ff-body: "Barlow", sans-serif;

  --fw-400: 400;
  --fw-700: 700;
}
